{
  "plugins": [
    "prettier-plugin-organize-imports"
  ],
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "endOfLine": "lf"
}
